# osx noise
.DS_Store
profile

# npm
node_modules

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
sftp-config.json
.sublime-grunt.cache
vd-prirucka.sublime-project
vd-prirucka.sublime-workspace
NOTES.txt
sftp-config-alt.json
.vscode/*
